.admin-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.admin-logo {
    font-size: 24px;
    font-weight: bold;
    color: #0066cc;
}

.admin-page-title {
    font-size: 20px;
    color: #0066cc;
    font-weight:900
}
