/* alert.js */
.error {
    background-color: #f8d7da;
    color: red;
    padding:15px 20px;
    margin-top: 20px;
    border-radius: 12px;
    width: 80%;
    display: block;
    /* text-align: center;
    margin-bottom: 8px; */
}

/* padding:7px 20px; 
    width: 60%;

*/
